# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [1]:
from datetime import datetime
print(datetime.now())

2025-08-06 20:07:27.372181

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [3]:
import math
def circleArea(radius):
    return (radius**2)*(math.pi)

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [10]:
def numIsUnique(list):
    if sorted(set(list))==sorted(list):
        return True
    return False

print(numIsUnique([2,4,5,5,7,9]))
print(numIsUnique([2,4,5,7,9]))

False
True

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [18]:
with open("/workspaces/2025-python-summer-prep/Week-03/intermediate/data/lil-wayne.txt", "r") as file:
    text = file.read()

text = text.upper()
print(text)
dictionary = {}

for i in text:
    if i not in dictionary:
        dictionary[i]=1
    else:
        dictionary[i]+=1

print(dictionary)

DWAYNE MICHAEL CARTER JR. (BORN SEPTEMBER 27, 1982),[2] KNOWN PROFESSIONALLY AS LIL WAYNE, IS AN AMERICAN RAPPER, SINGER, SONGWRITER AND RECORD EXECUTIVE.. HE IS COMMONLY REGARDED AS ONE OF THE MOST INFLUENTIAL HIP HOP ARTISTS OF HIS GENERATION,[3] AND OFTEN CITED AS ONE OF THE GREATEST RAPPERS OF ALL TIME.[4][5] HIS CAREER BEGAN IN 1995, AT THE AGE OF 12, WHEN HE WAS SIGNED BY RAPPER BIRDMAN, JOINING CASH MONEY RECORDS AS THE YOUNGEST MEMBER OF THE LABEL.[6] FROM THEN ON, WAYNE WAS THE FLAGSHIP ARTIST OF CASH MONEY RECORDS BEFORE ENDING HIS ASSOCIATION WITH THE COMPANY IN JUNE 2018.[7]

IN 1995, WAYNE WAS PUT IN A DUO WITH LABEL-MATE B.G. (AT THE TIME KNOWN AS LIL DOOGIE) AND THEY RECORDED AN ALBUM, TRUE STORY, RELEASED THAT YEAR, ALTHOUGH WAYNE (AT THE TIME KNOWN AS BABY D) ONLY APPEARED ON THREE TRACKS.[8] WAYNE AND B.G. SOON JOINED THE SOUTHERN HIP HOP GROUP HOT BOYS, WITH CASH MONEY LABEL-MATES JUVENILE AND TURK IN 1997; THEY RELEASED THEIR DEBUT ALBUM GET IT HOW U LIVE! IN OCTOBER THAT YEAR. THE HOT BOYS BECAME POPULAR FOLLOWING THE RELEASE OF THE ALBUM GUERRILLA WARFARE (1999) AND THE SONG BLING BLING.

LIL WAYNES SOLO DEBUT ALBUM THA BLOCK IS HOT (1999) WAS HIS SOLO BREAKTHROUGH, AND HE REACHED HIGHER POPULARITY WITH HIS FOURTH ALBUM THA CARTER (2004) AND FIFTH ALBUM THA CARTER II (2005), AS WELL AS SEVERAL MIXTAPES AND COLLABORATIONS THROUGHOUT 2006 AND 2007. HE GAINED MORE PROMINENCE WITHIN THE MUSIC INDUSTRY WITH HIS SIXTH ALBUM THA CARTER III (2008), WITH FIRST-WEEK SALES OF OVER ONE MILLION COPIES IN THE US. THE ALBUM WON THE GRAMMY AWARD FOR BEST RAP ALBUM AND INCLUDED SUCCESSFUL SINGLES A MILLI, GOT MONEY (FEATURING T-PAIN), AND LOLLIPOP (FEATURING STATIC MAJOR)—THE LATTER BEING HIS FIRST SINGLE TO REACH NUMBER ONE ON THE BILLBOARD HOT 100. IN FEBRUARY 2010, WAYNE RELEASED HIS SEVENTH STUDIO ALBUM, REBIRTH, WHICH EXPERIMENTED WITH RAP ROCK AND WAS MET WITH GENERALLY NEGATIVE REVIEWS. A MONTH LATER IN MARCH 2010, LIL WAYNE BEGAN SERVING AN 8-MONTH JAIL SENTENCE IN NEW YORK AFTER BEING CONVICTED OF CRIMINAL POSSESSION OF A WEAPON STEMMING FROM AN INCIDENT IN JULY 2007. HIS EIGHTH STUDIO ALBUM I AM NOT A HUMAN BEING (2010) WAS RELEASED DURING HIS INCARCERATION, WHILE HIS 2011 ALBUM THA CARTER IV WAS RELEASED FOLLOWING HIS RELEASE. THA CARTER IV SOLD 964,000 COPIES IN ITS FIRST WEEK IN THE UNITED STATES.[9] HIS TWELFTH STUDIO ALBUM THA CARTER V WAS RELEASED IN 2018 AFTER MULTIPLE DELAYS. WAYNES THIRTEENTH ALBUM, FUNERAL, WAS RELEASED IN EARLY 2020.[10]

LIL WAYNE HAS SOLD OVER 120 MILLION RECORDS WORLDWIDE, INCLUDING MORE THAN 20 MILLION ALBUMS AND 70 MILLION DIGITAL TRACKS IN THE UNITED STATES, MAKING HIM ONE OF THE WORLDS BEST-SELLING MUSIC ARTISTS.[11][12][13] HE HAS WON FIVE GRAMMY AWARDS, 11 BET AWARDS, FOUR BILLBOARD MUSIC AWARDS, TWO MTV VIDEO MUSIC AWARDS AND EIGHT NAACP IMAGE AWARDS. ON SEPTEMBER 27, 2012, HE BECAME THE FIRST MALE ARTIST TO SURPASS ELVIS PRESLEY WITH THE MOST ENTRIES ON THE BILLBOARD HOT 100, WITH 109 SONGS.[14][15] LIL WAYNE ALSO CURRENTLY SERVES AS THE CHIEF EXECUTIVE OFFICER (CEO) OF HIS OWN LABEL, YOUNG MONEY ENTERTAINMENT.
{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [20]:
print(dict(sorted(dictionary.items(), key = lambda item: item[1], reverse = True)))

{' ': 522, 'E': 274, 'A': 211, 'I': 185, 'T': 180, 'N': 165, 'R': 152, 'S': 152, 'O': 145, 'L': 126, 'H': 122, 'M': 77, 'D': 74, 'U': 66, 'W': 63, 'C': 60, 'B': 59, 'G': 53, 'Y': 44, 'F': 44, 'P': 39, ',': 37, '0': 36, '1': 28, '.': 26, '2': 24, 'V': 20, '9': 16, '[': 14, ']': 14, 'K': 13, '(': 12, ')': 12, 'J': 8, '7': 7, '8': 6, '\n': 6, '-': 6, 'X': 5, '5': 5, '4': 4, '6': 3, '3': 2, ';': 1, '!': 1, '—': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [21]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

temp = list1[3]
del list1[3]

list1.append(temp*list1[-1])
print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [22]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

new_list = [i for i in original_list if i%3==0]

print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [26]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

original_list.reverse()

print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [27]:
original_list = [1, 2, 3, 4, 5, 6, 7]

new_list = [i**2 for i in original_list]

print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [31]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for i, j in zip(list1, list2):
    print(i,j)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [37]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
newlist=[]
for j in (list_of_strings):
    if j!="":
        newlist.append(j)

print(newlist)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [40]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

if 999 in sample_dict.values():
    print(True)
else:
    print(False)

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [43]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password
if message in ("Arrr!"):
	print("Go away, pirate.")
else:
	print("Greetings, hater of pirates!")

Greetings, hater of pirates!

In [47]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (457 * 250)/10
print(each_chunk)

11425.0

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [52]:
import pandas as pd
df = pd.read_csv("/workspaces/2025-python-summer-prep/Week-03/intermediate/data/titanic.csv")

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [54]:
print(df["age"].mean())

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [55]:
print("Youngest: ", min(df["age"]))
print("Oldest: ", max(df["age"]))

Youngest:  0.42
Oldest:  80.0

## How many people embarked from station 'S'?

In [58]:
df.columns
df.head()

print(sum(df["embarked"]=="S"))

644